
div.items {
    display: inline-block;
    background-color: gray;
}
div.items div.header {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
}

div.item {
    display: inline;
}
div.item img {
    width: 64px;
    height: 64px;
}

button.btn[data-selected="0"] img,
div[data-selected="0"] img {
    -webkit-filter: brightness(75%) grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(75%) grayscale(100%);
}
div[data-selected="0"] img:hover {
    -webkit-filter: brightness(100%) grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(100%) grayscale(100%);
}
